/nbodyJavaFx/nbproject/private/
/nbodyJavaFx/build/
/nbodyJavaFx/dist/
/barnesHut/nbproject/private/
/barnesHut/build/
/barnesHut/dist/
/circleFrame/nbproject/private/
/circleFrame/build/
/circleFrame/dist/